.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 95vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    width: 100%;
    background: lightseagreen;
    margin-bottom: 2rem;
  }
  .navLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 50%;
    padding-right: 1rem;
  }
  .navLogo{
    padding-left: 1rem;
  }
  .navItem {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  
  .navItem:hover{
      color:#262730;
  }
  
  @media (max-width:992px) {
      nav{
          display: none;
      }
  }
  
  