.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 5rem;
    width: 50vw;
    height: 50vh;
    box-shadow: 0px 3.307px 3.318px 0px rgba(0, 0, 0, 0.02),
    0px 6.994px 8.206px 0px rgba(0, 0, 0, 0.04),
    0px 11.89px 16.44px 0px rgba(0, 0, 0, 0.05),
    10px 20.718px 33.619px 0px rgba(0, 0, 0, 0.07),
    10px 51px 94px 0px rgba(0, 0, 0, 0.11);
}
.welcome h3{
    font-size: 36px;
    font-weight: bolder;
    color: lightseagreen;;
}
.link{
    text-decoration: none;
}
.btnContainer{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 50%;
    
}


.btnContainer button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  z-index: 0;
}

.btnContainer button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

 .btnContainer button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}



